<mat-toolbar color="primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <nav>
          <mat-nav-list>
              <a mat-list-item routerLinkActive="active" [routerLink]="['/json-data']">JSON Data</a>
              <a mat-list-item routerLinkActive="active" [routerLink]="['/html-table']">HTML Table</a>
              <a mat-list-item routerLinkActive="active" [routerLink]="['/grid-basic']">Basic Grid</a>
              <a mat-list-item routerLinkActive="active" [routerLink]="['/grid-modified']">Modified Grid</a>
              <a mat-list-item routerLinkActive="active" [routerLink]="['/grid-customized']">Customized Grid</a>
              <a mat-list-item routerLinkActive="active" [routerLink]="['/grid-master-detail']">Master Detail Grid</a>
          </mat-nav-list>
        </nav>
      </div>
    </div>
  </div>
</mat-toolbar>
